.cardContainer {
    background-color: rgba(203, 212, 203, 0.918);
    display: flex;
    justify-content: space-between; /* Espacio entre las tarjetas */
    margin: 10px; /* Añade margen entre las tarjetas */
    flex-wrap: wrap;
    }

  .card:hover {
    transform: translateY(-5px);
    background-color: #f0f0f0;
    }
  
  .card {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    width: 250px;
    cursor: pointer;
  }
  
  .card-temperaments {
    max-height: 100px; /* Establece una altura fija para la sección de temperamentos */
    overflow: hidden; /* Oculta el exceso de contenido si se supera la altura fija */
  }

  .card-img-cont img { 
    max-width: 100%;
    height: 200px;
  }
  