
.home-container {
    height: 260vh;
    width: 100vw;
    display: inline-block;
    background: #000 url("../../Assets/fondoHome2.jpg") no-repeat center;
    background-size: cover;
    color: white;
  }


.container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px; 
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  max-width: 50%;
  margin: 10px auto;
  color: white;
}

.container > span {
  margin-right: 20px;
}

.container select, .container button {
  margin-right: 20px;
}

