
.home-container {
    height: 260vh;
    width: 100vw;
    display: inline-block;
    background: #000 url("../../Assets/fondoHome2.jpg") no-repeat center;
    background-size: cover;
    color: white; /* Asegura que el fondo cubra toda la altura del componente Home */
  }

.container {
    display: flex;
    max-height: fit-content;
    flex-direction: column;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 20px; 
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    align-items: center;
    max-width: 50%;
    margin: 10px auto;
    color: white; 
}
