/* Estilos para la barra de navegación */
.navbar-cont {
  display: flex;
  background-color: rgba(216, 233, 217, 0.918);
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

.navbar-img-cont img {
  width: 3rem;
}

.navbar-links-cont {
  display: flex;
  justify-content: space-between;
  width: 15rem;
}

/* Estilos para los enlaces del menú con efecto de contorno y luz blanca */
.nav-link {
  text-decoration: none; /* Elimina la subrayado predeterminado de los enlaces */
  color: #000000; /* Color del texto */
  position: relative; /* Para que el elemento sea el punto de origen del efecto de luz */

  transition: transform 0.3s, box-shadow 0.3s; /* Transiciones para la elevación y el contorno */

  display: inline-block;
  padding: 5px; /* Espacio alrededor del texto */
}

.nav-link:hover {
  transform: translateY(-2px); /* Eleva el texto ligeramente en hover */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Contorno con luz blanca */
}

/* Estilos para el enlace activo (página actual) */
.active {
  font-weight: bold; /* Otra modificación de estilo, si lo deseas */
}

/* Estilos para la barra debajo de la palabra en el enlace activo */
.active span {
  display: block;
  height: 3px; /* Altura de la barra */
  background-color: rgba(216, 233, 217, 0.918); /* Color de la barra de resaltado */
}

