.image {
  background-image: url("../../Assets/perroCreate.jpg");
}

.containerCreate {
    max-width: 500px;
    max-height: 700px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
  }
  
  .formGroup {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .minMaxFields {
    display: flex;
    justify-content: space-between;
  }
  
  .minMaxFields input {
    width: 45%; /* Ajusta el ancho según tus necesidades */
  }